*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/signing
/signing/*
/captures
.externalNativeBuild
keystore.properties
keystore.jks