*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/signing
/signing/*
/captures
.externalNativeBuild
/.idea/
/keystore.properties
/app/keystore.jks
/app/private_key.pepk
/app/debug/
